.list-left {
  width: 800px;
  margin-left: 70px;
}

.btn1 {
  color: var(--black);
  padding: 4px;
}
.btn1:hover {
  text-decoration: underline;
  cursor: pointer;
}
.btn2 {
  border: 2px solid var(--black);
  padding: 0.5rem;
  border-radius: 4px;
}
.btn2:hover {
  outline: 3px solid var(--black);
  transition: outline 0.1s;
}
