
.back-button:hover {
  cursor: pointer;
  background-color: rgb(218, 237, 244);
}
.left-icon {
  color: var(--blue);
  font-weight: bold;
  font-size: 20px;
}

/* Css for responsive view of a webpage */
